body {
    background-color: brown;
    color:aliceblue;
    font-family: "Nerko One", cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}
button{
    background-color: burlywood;
    color: aliceblue;
    font-family: "Nerko One", cursive;
}
